<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Survey History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="surveysObs | async as surveys; else loading">
    <ion-item *ngFor="let survey of surveys">
      <ion-label>
        <h2>{{ survey.surveyName }}</h2>
        <small>{{ survey.startDate | date: 'medium' }}</small>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ng-template #loading>
  <p class="ion-padding">
    Loading...
  </p>
</ng-template>