<ion-card>
  <ion-card-header>
    <ion-card-title>Device Disconnect</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <form [formGroup]="formSetupDevice">
      <ion-list *ngIf="listBluetoothObs | async as listBluetooth; else loading">
        <ion-item>
          <ion-label position="stacked">Select Bluetooth</ion-label>
          <ion-select interface="action-sheet" formControlName="bluetooth">
            <ion-select-option *ngFor="let bluetooth of listBluetooth" [value]="bluetooth">
              {{ bluetooth.name }} - {{ bluetooth.address }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button expand="block" type="submit" [disabled]="!formSetupDevice.valid" (click)="connect()">
          {{ reconnect? 'Reconnecting...': 'Connect' }}
        </ion-button>
      </ion-list>
    </form>
  </ion-card-content>
</ion-card>

<ng-template #loading>
  Loading...
</ng-template>