<ion-card>
  <ion-card-header>
    <ion-card-title>Device Disconnect</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <form>
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Select Bluetooth</ion-label>
          <ion-select interface="action-sheet">
            <ion-select-option>
              Testing - aa:bb:cc:dd
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button expand="block" type="submit">
          Connect
        </ion-button>
      </ion-list>
    </form>
  </ion-card-content>
</ion-card>