<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="formSetupDevice">
    <ion-list *ngIf="listBluetoothObs | async as listBluetooth">
      <ion-item lines="none">
        <ion-label position="float">Setup Device</ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Select Bluetooth</ion-label>
        <ion-select interface="action-sheet" formControlName="bluetooth">
          <ion-select-option *ngFor="let bluetooth of listBluetooth" [value]="bluetooth">
            {{ bluetooth.name }} - {{ bluetooth.address }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <div class="ion-padding-horizontal ion-padding-top">
        <ion-button expand="block" type="submit" class="ion-no-margin" [disabled]="!formSetupDevice.valid"
          (click)="connect()">
          Connect
        </ion-button>
      </div>
      <div class="ion-padding-horizontal ion-padding-top">
        <ion-button expand="block" type="submit" class="ion-no-margin" (click)="disconnect()">
          Disconnect
        </ion-button>
      </div>
    </ion-list>
  </form>

  {{ (deviceService.dataSurvey | async)?.acc }}
</ion-content>