<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>SIMOJAN</ion-list-header>
          <ion-note>Sistem Monitoring Jalan</ion-note>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" lines="none" detail="false" routerLink="/dashboard"
              routerLinkActive="selected">
              <ion-icon slot="start" name="desktop-outline"></ion-icon>
              <ion-label>Dashboard</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" lines="none" detail="false" routerLink="/surveys"
              routerLinkActive="selected">
              <ion-icon slot="start" name="list-outline"></ion-icon>
              <ion-label>Survey History</ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>